# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
node_modules

# Build directories
dist
dist-ssr
coverage

# System files
.DS_Store

# Cypress directories
/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript build info
*.tsbuildinfo

# Ignore all files in the assets/images/blog directory, but not the blog directory itself
/src/assets/images/blog/*
!src/assets/images/blog/
